@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Bebas+Neue&family=Lexend+Tera:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

main {
    text-align: center;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    max-width: 1200px;
    background-color: #c3c37b;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 2px 2px #65533181;
}

main h2 {
    background-image: linear-gradient(to right, #fdd282, #bfbf5e);
    font-family:  "Anton SC", 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20pt;
    width: 800px;
    padding: 10px;
    margin: auto;
    margin-top: 30px;
    color: #d56b1d;

    border-radius: 20px 20px 0px 0px;
}

main h1 {
    color: #fdd282;
    font-family: "Anton SC";
    font-size: 35pt;
    text-shadow: 2px 2px 3px #65533165;
}

main .tutorial {
    display: inline-flex;
    margin: auto;
    margin-bottom: 30px;
    background-color: #a0a04e;
    width: 800px;
    height: 300px;
    padding: 10px;
    border-radius: 0px 0px 20px 20px;
}

/* main .tutorial .img {
    width: 230px;
    height: 300px;
    background-color: #91ae45;
    display: inline-block;
    margin: auto;
    border-radius: 25px 3px;
    color: #91ae45;
    align-items: center center;
} */

main .img-1 {
    top: 3%;
    left: 0%;
    width: 90%;
    height: 94%;
    position: relative;
    margin: auto;
    border-radius: 20px 0px;
}

.tutorial-exp {
    margin: auto;
    margin-bottom: 100px;
    background-color: #a0a04e;
    width: 800px;
    padding: 10px;
    border-radius: 8px;
}

.tutorial-exp p {
    color: #d56b1d;
    text-align: center;
    font-family: "Lexend Tera";
    font-weight: bold;
}


.slider {
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
    background-color: #a0a04e;
    margin-bottom: 30px;
    padding: 10px;
}

.sliders {
    width: 400%;
    height: 400px;
    display: flex;
}

.sliders input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img {

    margin-top: 20px;
    border-radius: 15px;
    width: 500px;
    height: 350px;
}

.manual-navigation {
    position: absolute;
    width: 810px;
    margin: -20px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #d56b1d;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;

}

.manual-btn:not(:last-child){
    margin-right: -40px;
}

.manual-btn:hover  {
    background-color: #d56b1d;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first {
    margin-left: -75%;
}

.navigation-auto div {
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    margin-top: 20px;
    margin-right: 30px;
}

.navigation-auto {
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;

}

.navigation-auto div:not(:last-child){ 
    margin-right: 15px;
}

#radio4:checked ~ .navigation-auto .auto-btn1 {
    background-color: #d56b1d;
}

#radio3:checked ~ .navigation-auto .auto-btn2 {
    background-color: #d56b1d;
}

#radio2:checked ~ .navigation-auto .auto-btn3 {
    background-color: #d56b1d;
}

#radio1:checked ~ .navigation-auto .auto-btn4 {
    background-color: #d56b1d;
}

#radi5:checked ~ .secund {
    margin-left: 0;
}

#radi6:checked ~ .secund {
    margin-left: -25%;
}

#radi7:checked ~ .secund {
    margin-left: -50%;
}

#radi8:checked ~ .secund {
    margin-left: -75%;
}

#radi8:checked ~ .navigation-auto .auto-btn5 {
    background-color: #d56b1d;
}

#radi7:checked ~ .navigation-auto .auto-btn6 {
    background-color: #d56b1d;
}

#radi6:checked ~ .navigation-auto .auto-btn7 {
    background-color: #d56b1d;
}

#radi5:checked ~ .navigation-auto .auto-btn8 {
    background-color: #d56b1d;
}